#naf {

    #fluid {

        #bd, #child_bd {
            padding: 10px;

            #page-label {
                float: none;
            }

            #show_search_container_link {
                margin-top: 10px;
            }

            #search_container {
                border: 1px solid #E1E1E1;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 15px;
                margin-top: 10px;
                margin-bottom: 5px;
                display: none;
                #job_search {
                    padding: 10px;
                    div.field{
                        clear:both;
                        text-align:right;
                        line-height:15px;
                        label {
                            float:left;
                        }
                    }
                }
            }

            #flash_message {
                #notice {
                    background-color: #E1FFD1;
                    border: 1px solid #C5F8AC;
                    color: #499524;
                    margin: 0;
                    padding: 12px;
                }
            }

            #datatable_wrapper {
                #datatable_processing {
                    color: #45a113;
                    font-style: bold;
                    font-size: 14px;
                    margin: 0 0 6px 0;
                    background-color: #e5f4e1;
                    border: 1px solid #d5f1cd;
                    padding: 4px 8px 4px 8px;
                }

                #datatable_paginate {
                    #page-select-container, #refresh-page-container {
                        display: none;
                        float: right;
                        margin-top: -1px;
                        padding: 2px 2px;
                        width: 205px;
                    }
                    #page-select-container {
                        label {
                            position: relative;
                            top: 4px;
                        }
                    }
                    #refresh-page-container {
                        margin-right: 200px;
                        input {
                          width: 13px;
                        }
                    }
                    #iDisplayLength {
                        background-color: #FFFFFF;
                    }
                    .page-select {
                        border: 1px solid #E1E1E1;
                        cursor: pointer;
                        float: right;
                        width: 95px;
                    }
                }

                #datatable {
                    table-layout:fixed;

                    width:100%;
                    border-collapse: collapse;
                    td, th {
                        margin: 0;
                        padding: 3px 0 3px 3px;
                    }

                    tr td a img {
                        margin: 0;
                    }

                    td {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .ui-icon {
                        float: left;
                    }

                    .center {
                        text-align: center;
                    }

                    .script-queued {
                        color: #f8a800;
                    }

                    .script-running {
                        color: #45a113;
                    }

                    .script-error {
                        color: #CD0A0A;
                    }

                    .script-finished {
                        color: #000000;
                    }
                }

                #datatable_info {
                    margin: 6px 0 8px 0 ;
                }

                .dataTables_info {
                    margin: 8px 0 6px 0 ;
                }

                .ui-buttonset .ui-button {
                    border: 1px solid #CECECE;
                    color: #333333;
                    margin: 0;
                    padding: 4px 12px;
                }

                .ui-state-default {
                    background-color: #F4F4F4;
                    background-image: none;
                    border: 1px solid #E1E1E1;
                    font-weight: normal;
                }
            }

            #record {
                td, th {
                    padding-right: 30px;
                }

                #table_record {
                    margin-top: 10px;
                }

                #errorExplanation {
                     background-color: #FEF1EC;
                     border: 1px solid #FFE4D8;
                     color: #CD0A0A;
                     line-height: 24px;
                     margin: 0 0 0.8em;
                     padding: 12px;
                }

                .scrollable-output {
                    border: 1px solid #E1E1E1;
                    height: 500px;
                    min-width: 1200px;
                    scrollbars: "auto";
                    white-space: nowrap;
                    width: 100%;
                }

                h4 {
                    margin: 10px 0 5px 0;
                    font-weight: bold;
                }

            }

            #parent_links {
                padding-top: 10px;
            }

        }

    }

}