#naf {

    font: {
      family: "Verdana", Times, serif;
    }

    td#header {
      background-color: #FFA500;
      text-align: center;
      padding: 0px;
    }

    #header h3 {
     text-shadow: black 1px 1px 1px;
     font-size: 20px;
    }

    #main {
      padding: 0px 10px 20px 10px;
      margin: 0px;
      text-align: top;
    }

    a {
     color: blue;
    }

    td#main div#status {
      font-size: 12px;
      color: green;
      margin: 2px 0px 2px 0px;
      width: 400px;
      margin: auto;
    }

    td#main div#status p {
       margin: 2px 0px 2px 0px;
    }

    div#errorExplanation {
        text-align: left;
        color: red;
    }

    div#errorExplanation h2{
        font-size: 12px;
    }

    div#errorExplanation ul {
        display: inline-block;
        text-align: left;
        width: 50%;
        margin: auto;
    }

    div#errorExplanation ul li {
        text-align: left;
        margin-left: 100px;
    }


    div#record {
        width: 70%;
        margin: auto;
        font-size: 12px;
        padding: 20px;
        position: relative;
    }

    div#record p#notice {
        text-align: center;
        color: green;
    }

    div#record a.back {
        float: left;
        display: inline;
    }

    div#record a.edit {
        float: right;
    }

    div#record a.destroy {
        float: right;
        display: inline;
    }

    h3#record_name {
        font-size: 20px;
        margin: 0px;
        text-align: center;
    }


    div#record form {
        margin-left: 30%;
        display: block;
        text-align: left;
    }

    div#record div.field {

    }


    div#record table#record {
        margin: auto;
        border: 1px solid black;
        font-size: 13px;
        border-collapse: collapse;
    }

    div#record table#record th {
        background: #333;
        color: white;
    }

    div#record table#record tbody {
        text-align: left;
    }

    div#record table#record td, th {
        padding: 5px 20px 5px 20px;
        margin: 0px;
        border: none;
    }

    div#record table#record tr {
        border-top: 1px solid black;
    }

    div#record table#record tr:nth-child(odd) {
        background: #ddd;
    }
    div#record table#record tr:nth-child(even) {
        background: #fff;
    }

    #main span#create {
      display: inline;
      font-size: 12px;
    }

    #main span#job_search {
      display: inline;
      font-size: 12px;
      float: right;
      background: #888;
      padding: 5px;
      border: 1px solid black;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    #main span#job_search:hover {
      background: #333;
    }

    #main span#job_search a {
      color: white;
      text-decoration: none;
    }

    #main span#parent {
      display: inline;
      font-size: 12px;
      float: right;
    }

    p.clear {
        clear: both;
    }

    img.action {
      display: inline;
    }

    td#tabs {
      background-color: #FFA500;
      padding: 0px;
    }

    ul#tabs {
      list-style: none;
      text-align: center;
      padding: 0px;
      margin-bottom: 6px;
    }


    ul#tabs li {
      margin: 0px 10px 0px 10px;
      padding: 5px 20px 5px 20px;
      display: inline;
      border: 1px solid black;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      background: #888;
      color: #eee;
      font-size: 12px;
      box-shadow: -2px -2px 10px #555;
    }

    ul#tabs li#on {
      background: #333;
    }

    ul#tabs li:hover {
      background: #333;
      cursor: pointer;
    }

    ul#tabs li a {
     color: white;
     text-decoration: none;
    }

    #datatable {
      min-width: 95%;
      white-space:nowrap;
      margin: auto;
      margin-top: 10px;
      background-color: #ffffff;
      border: 1px #000 solid;
      font-size: 12px;
      text-align: left;
    }


    #datatable  td {
     padding: 5px 25px 5px 25px;
    }

    #datatable thead th {
      text-align: center;
      padding: 0px;
    }


    #datatable tfoot.nav tr {
      height: 20px;
    }

    #datatable td#action {
     text-align: center;
    }

    div.field input[type=text] {
        width: 400px;
    }

    span#result_number {
      display: inline;
    }

    form#job_search {
      font-size: 12px;
      text-align: left;
    }

    #datatable tbody tr {
      background: #fff;
    }


    #datatable tbody tr:nth-child(even) {
      background: #eee;
    }

    #datatable tbody tr:nth-child(odd) {
      background: #fff;
    }


    #datatable tbody tr.Canceled{
      background: #eee;
    }

    #datatable tbody tr.Failed.to.start{
      background: #ffcc33;
    }

    #datatable tbody tr.Error{
      background: #CD9B9B;
    }


    #datatable tbody tr.Running{
        background: yellow;
    }

    #datatable tbody tr.Queued {

      background: #EEE685;
    }


    #datatable tbody tr.Finished {
      background: #BCED91;
      color: #555;
    }


    #datatable tbody tr:hover {
        background:  #E6E6E6;
    }

    #datatable tbody tr td:not(#action) {
        cursor: pointer;
    }

    div#tooltip {
         font-size: 13px;
         display: none;
         cursor: default;
         border: 5px solid black;
         background: #eee;
         position: fixed;
         padding: 20px;
    }

    div#tooltip h3 {
        font-size: 18px;
        text-align:center;
    }



    #datatable thead th.sortAsc {
        background: #1BB2E0 url('/assets/bullet_arrow_up.png') center -4px no-repeat;
    }
    #datatable thead th.sortDesc {
        background: #1BB2E0 url('/assets/bullet_arrow_down.png') center -4px no-repeat;
    }

    #datatable tfoot td {
        padding: 5px;
            background: #888;
            color: #fff;
    }
    #datatable thead th {
        color: #fff;
            background: #888;
        border: 1px solid #000;
        padding: 6px 6px 6px 6px !important;
            font-weight: normal;
            font-size: 10px;
    }

    #datatable thead th#queued_time, th#started_at, th#finished_at {
        cursor: pointer;
    }

    #datatable thead th#single {
            width: 500px;
    }

    #datatable tbody td {
            margin: 0px;
        border-bottom: 1px solid #000;
            text-align: left;
            font-size: 12px;
    }


    #datatable  tbody tr:hover {
            background:  #aaa;
    }

    #datatable tbody tr td:not(#action) {
            cursor: pointer;
    }

}
    