#naf {
    background-color:#f1f1f1;
    color:#333;
    background: url(/assets//bg-grad.png) repeat-x 0px 0px;
    height: 100%;
    min-width: 100%;
    display: inline-block;
    font: {
        family: arial, helvetica, clean, sans-serif;
    }

    @mixin rounded-top {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    @mixin rounded-bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    @mixin margin-padding-null {
        margin: 0;
        padding: 0;
    }

    a {
        color: #0085CF;
        text-decoration: none;
    }

    .clear {
        clear:both;
    }

    #fluid {
        margin: 0 0 6px 6px;
        text-align: left;
        width: 99%;
    }

    div {
        #hd {
            div#header {
                h3 {
                    display: inline-block;
                    font-size: 130%;
                    padding-left: 10px;
                    a {
                      color: #FFFFFF;
                    }
                }
            }
        }
        #bd {
            h3#record_name {
                font-size: 130%;
                @include margin-padding-null;
            }
        }
    }

    #navigation {
        border-bottom: 4px solid #2D2D2D;
        margin-top: 1.4em;
        ul {
            @include margin-padding-null;
            li {
                list-style: none outside none;
            	float:left;
	            display:inline;
                a {
                    @include rounded-top;
                    font-size:11px;
                    padding:6px 10px 4px 10px;
                    background-color: #808080;
                    font-weight: normal;
                    margin: 0 0.2em 0 0;
                    color: #fff;
                    display: block;
                    text-decoration: none;
                    &:hover { background-color: #2d2d2d; }
                }
            }
        }
    }

    #bd {
        font: 13px/1.231 arial,helvetica,clean,sans-serif;
        @include rounded-bottom;
        background-color: #FFFFFF;
        border-bottom: 1px solid #E1E1E1;
        border-left: 1px solid #E1E1E1;
        border-right: 1px solid #E1E1E1;
        padding: 10px;
        #page-label {
          padding-bottom: 10px;
        }
    }

}
    