<% content_for :javascripts do %>
  <script type='text/javascript'>
    jQuery(document).ready(function () {
      jQuery(document).delegate('.terminate', "click", function(){
        var answer = confirm("You are terminating this job. Are you sure you want to do this?");
        if (!answer) {
          return false;
        }
        var id = <%= historical_job_id %>;
        jQuery.ajax({
          url: id,
          type:'POST',
          dataType:'json',
          data:{ "historical_job[request_to_terminate]": 1, "historical_job_id": id, "_method": "put" },
          success:function (data) {
            if (data.success) {
              var title = data.title ? data.title : data.command
              jQuery("<p id='notice'>A Job " + title + " was terminated!</p>").
              appendTo('#flash_message').slideDown().delay(5000).slideUp();
              setTimeout('window.location.reload()', 5600);
            }
          }
        });
      });
      jQuery(document).delegate('.re-enqueue', "click", function(){
        var url = jQuery(this).attr('content');
        var new_params = { data: jQuery(this).attr('data') };
        new_params['job_id'] = jQuery(this).attr('id');

        if (jQuery(this).attr('app_id')) {
          new_params['app_id'] = jQuery(this).attr('app_id');
        }
        
        if (jQuery(this).attr('link')) {
          new_params['link'] = jQuery(this).attr('link');
        }
        
        if (jQuery(this).attr('title_name')) {
          new_params['title_name'] = jQuery(this).attr('title_name');
        }
        
        var answer = confirm("Would you like to enqueue this job?");
        
        if (!answer) {
          return false;
        }

        jQuery.post(url, new_params, function (data) {
          if (data.success) {
            jQuery("<p id='notice'>Congratulations, a Job " + data.title + " was added!</p>").
            appendTo('#flash_message').slideDown().delay(5000).slideUp();
            setTimeout('window.location.reload()', 5600);
          }
          else {
            jQuery("<div class='error'>Sorry, \'" +  data.title +
              "\' cannot add a Job to the queue right now!</div>").
              appendTo('#flash_message').slideDown().delay(5000).slideUp();
            jQuery('#datatable').dataTable().fnDraw();
          }
        });
      });
    });
  </script>
<% end %>