<table id="runner">
  <tr>
    <td>
      <div id='page-label'>
        <h3 id="record_name">Runners: </h3>
      </div>
    </td>
    <td>
      <div class="running"><%= ::Naf::MachineRunner.running.uniq.count %> running&nbsp;</div>
    </td>
    <% if ::Naf::MachineRunner.winding_down.count > 0 -%>
      <td>
        <div class="winding-down"><%= ::Naf::MachineRunner.winding_down.uniq.count %> winding down&nbsp;&nbsp;</div>
      </td>
    <% end %>
    <% if ::Naf::MachineRunner.dead.count > 0 -%>
      <td>
        <div class="down"><%= ::Naf::MachineRunner.dead.count %> down</div>
      </td>
    <% end %>
 </tr>
</table>
