<table id="runner">
  <tr>
    <td>
      <div id='page-label'>
        <h3 id="record_name">Runners: </h3>
      </div>
    </td>
    <td>
      <div class="running"><%= ::Naf::MachineRunner.running.uniq.count %> running</div>
    </td>
    <td>
      <div class="winding-down"><%= ::Naf::MachineRunner.winding_down.uniq.count %> winding down</div>
    </td>
    <td>
      <div class="down"><%= ::Naf::MachineRunner.dead.count %> down</div>
    </td>
 </tr>
</table>
