<table id='runner'>
  <tr>
    <td>
      <div id='page-label'>
        <h3 id='record_name'>Schedules last checked at: </h3>
      </div>
    </td>
    <td>
      <div class='last_checked_schedule_at'><%= ::Naf::Machine.last_time_schedules_were_checked %></div>
    </td>
 </tr>
</table>
