<div id='page-label'>
  <h3 id="record_name"><%= record_name %> </h3>
</div>

<% if current_page?(naf.root_url) or current_page?(:action => 'index') %>
  <div id='links'>
    <span id="create">  <%= generate_create_link %> </span>
  </div>
<% end %>
<% if nested_resource_index? %>
  <div id='links'>
    <span id="parent"> <%= parent_resource_link %> </span>
  </div>
<% end %>
