<div id='naf'>
  <%= render :partial => "layouts/naf/application" %>
  <div id="record">
    <%= link_to 'Back', @slot %>

    <h3 id="record_name">Editing Machine Affinity Slot</h3>

    <%= render 'form' %>
  </div>
</div>
