<% content_for :body do %>
  <div id="record">
    <%= link_to 'Back', machine_machine_affinity_slot_path(@slot.machine_id, @slot.id) %>

    <h3 id="record_name">Editing Machine Affinity Slot</h3>

    <%= render 'form' %>
  </div>
<% end %>

<%= render :partial => 'naf/shared/application' %>
