<div id="record">
  <%= link_to 'Back', {:controller => 'machine_affinity_slots', :action => 'index' }%>

  <h3 id="record_name">Create a new Machine Affinity Slot</h3>
 
  <%= render 'form' %>


</div>
