<div class="fields">
    <h3 class="display-inline-block">Application Schedule Prerequisite | </h3>
    <%= link_to_remove_fields "Remove", f %>

    <%= f.hidden_field :application_schedule_id %>

    <div class="field">
      <%= f.label :prerequisite_application_schedule %>
      <br/>
      <% schedules = ::Naf::ApplicationSchedule.all.map { |a| [a.title, a.id] unless a.id == @application.application_schedule.id }.compact %>
      <%= f.select(:prerequisite_application_schedule_id, schedules, :include_blank => true) %>
    </div>
    <br/>
</div>