<% content_for :body do %>
  <div id="record">
    <%= link_to 'Back', @application %>

    <h3 id="record_name">Editing an Application</h3>

    <%= render 'form' %>
  </div>
<% end %>

<%= render :partial => 'naf/shared/application' %>
