<div id="record">
  <%= link_to 'Back', application_application_schedule_path(@application, @application_schedule) %>

  <h3 id="record_name">Editing an Application Schedule</h3>
 
  <%= render 'form' %>





</div>
