<table id="schedule">
<thead>
<tr>
  <% @cols.each do |c| %>
    <th><%= c %></th>
  <% end %>
</tr>
</thead>
<tbody>
<% @application_schedules.each do |as| %>
  <tr>
  <% @cols.each do |c| %>
     <td> <%= as.send(c) %> </td>
  <% end %>
  </tr>
<% end %>


</tbody>

</table>
