<div id="record">
  <%= link_to 'Back', {:controller => 'application_schedules', :action => 'index' }%>

  <h3 id="record_name">Create a new Application Schedule</h3>
 
  <%= render 'form' %>


</div>
