<div id='naf'>
  <%= render :partial => "layouts/naf/application" %>
  <div id="record">
    <%= link_to 'Back', { :controller => 'application_schedule_affinity_tabs', :action => 'index' } %>

    <h3 id="record_name">Create a new Application Schedule Affinity Tab</h3>

    <%= render 'form' %>
  </div>
</div>
