<% content_for :body do %>
  <div id="record">
    <%= link_to 'Back', @janitorial_assignment %>

    <h3 id="record_name">Editing a Janitorial Assignments</h3>

    <%= render 'form' %>
  </div>
<% end %>

<%= render partial: 'naf/shared/application' %>
