<% content_for :body do %>
  <div id="record">
    <%= link_to 'Back', { controller: 'logger_names', action: 'index' } %>

    <h3 id="record_name">Create a Logger Name</h3>

    <%= render 'form' %>
  </div>
<% end %>

<%= render partial: 'naf/shared/application' %>
