module Other
  class Base < ActiveRecord::Base
    establish_connection "naf_#{Rails.env}"
    self.abstract_class = true
    def self.reset_warehousing_connection
      self.connection.disconnect!
      self.establish_connection "warehousing_#{Rails.env}"
    end
  end
end
