<br/>
<div class="display-inline-block search_select_input">
  <%= label(:time_format, "Time format:") %>
  <%= select_tag(:time_format, options_for_select([["Lexically", :lexically], ["Timestamp", :timestamp]])) %>
</div>
&nbsp;&nbsp;
<div class="display-inline-block">
  <%= label_tag :visible, 'Show deleted:' %>
  <%= check_box_tag("show[deleted]", true, false, { class: 'datatable_variable' }) %>
</div>
&nbsp;&nbsp;

<% content_for :javascripts do %>
  <script type='text/javascript'>
    jQuery(document).ready(function() {
      jQuery("#show_deleted").change(function () {
        SetFirstPage();
        return false;
      });
      jQuery("#time_format").change(function () {
        SetFirstPage();
        return false;
      });
    });
  </script>
<% end %>
